@page
@model Purrnet.Pages.Admin.SetupModel
@{
    ViewData["Title"] = "Admin Setup";
}

<div class="text-center">
    <h1>No admins found, website won't work without at least one admin.</h1>
    <p class="lead">Please contact the site administrator for assistance.</p>
</div>
